{% extends "base.html" %} {% set active_page = "about_page" %} {% block title %}
About {% endblock title %} {% block content %}
<div style="display: flex; justify-content: center; align-items: center">
  <div>
    <ul style="list-style-type: none">
      <li><h1>Лабораторная работа №3</h1></li>
      <li><h3>Дисциплина: «Мобильные и сетевые технологии»</h3></li>
      <li><h3>Выполнил: Жигарин К.А.</h3></li>
      <li><h3>Группа: А-05м-22</h3></li>
    </ul>
  </div>
</div>
{% endblock content %}
