{% extends "base.html" %}{% set active_page = "post_page" %}{% block title %}
Post creating page {% endblock %} {% block head %}
<link rel="stylesheet" href="../static/css/post_creating.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
{% endblock head %} {% block content %}
<div class="flex-container">
  <div>
    <form method="post" role="form">
      <div class="form-group">
        {{ form.author(class="form-control", placeholder="Author") }}
      </div>
      <div class="form-group">
        {{ form.title(class="form-control", placeholder="Title") }}
      </div>
      <div class="form-group">
        <textarea class="form-control bcontent" name="content"></textarea>
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-block") }} {% for field_name
        in form.errors %}{% for error in form.errors[field_name] %}
        <li>{{ field_name }}: {{ error }}</li>
        {% endfor %} {% endfor %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
